/**
Author Kasam Dhakal 
**/

body {
  background: #0F0F18;
}
.plane {
  width: 1100px;
  height: 310px;
  margin: 20px auto 200px;
  position: relative;  
  /* background-color: #B9B8CC; */
}

.tail{
  width: 12px;
  height: 135px;
  background-color: #B9B8CC;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  position: absolute;
  left: 49.5%;
  top: 3px;
  overflow: hidden;
}