/**
Author Kasam Dhakal 
**/

body {
  background: #0F0F18;
  /* background: #c9dbe9; */
}
.plane {
  width: 1100px;
  height: 310px;
  margin: 20px auto 200px;
  position: relative;  
  /* background-color: #B9B8CC; */
}

.tail{
  width: 12px;
  height: 135px;
  background-color: #B9B8CC;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  position: absolute;
  left: 49.6%;
  top: 3px;
  overflow: hidden;
}
.tail-a{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 120px 10px;
  border-color: transparent transparent #B9B8CC transparent;
  left: 49.3%;
  top: 6%;
}
.tail::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #656479;
  position: absolute;
  left: 50%;
  border-top-left-radius: 5px 15px;
}
.tail-a::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 0 10px;
  border-color: transparent transparent transparent #656479;
  position: absolute;
}
.nose{
  width: 153px;
  height: 153px;
  background-color: #B9B8CC;
  position: absolute;
  left: 50.1%;
  top: 44.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}
.nose::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: -20%;
  left: -15%;
}
.plane-back-body{
  width: 165px;
  height: 80px;
  background: -webkit-linear-gradient(left, #D5D4E7 0%, #68687D 100%);
  background: linear-gradient(left, #D5D4E7 0%, #68687D 100%);
  position: absolute;
  left: 42.6%;
  top: 60.5%;
  border-radius: 50% / 100%;
  z-index: -100;
}
.plane-back-body::before{
  content: "";
  position: absolute;
  background-color: #D5D4E7;
  width: 60px;
  height: 20px;
  top: 38%;
  left: -28%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);

}

.plane-back-body::after{
  content: "";
  position: absolute;
  background-color: #68687D;
  width: 60px;
  height: 20px;
  top: 40%;
  right: -27%;
  -webkit-transform: rotateZ(-12deg);
          transform: rotateZ(-12deg);

}

.window-1{
  border-bottom: 19px solid #202134;
  border-right: 8px solid transparent;
  height: 0;
  width: 23px;
  position: absolute;
  left: 51%;
  top: 21%;
  border-top-left-radius: 3px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 3px;
}
