/**
Author Kasam Dhakal 
**/

h1{
  color: white;
}
.mybody{
  height: 100vh;
  margin: 0;
  /* background: radial-gradient(#387989, #6dd5ed); */
  /* background: linear-gradient(#6B9DB2, #256A73); */
  background: white;
  background-repeat: no-repeat;
}

.plane {
  width: 1100px;
  height: 310px;
  margin: 20px auto 200px;
  position: relative;  
}

/* .tail {
  width: 12px;
  height: 135px;
  background-color: #B9B8CC;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  position: absolute;
  left: 49.6%;
  top: 3px;
  overflow: hidden;
} */

.tail-a {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 120px 10px;
  border-color: transparent transparent #B9B8CC transparent;
  left: 49.3%;
  top: 6%;
}

.tail:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #656479;
  position: absolute;
  left: 50%;
  border-top-left-radius: 5px 15px;
}

.tail-a:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 0 10px;
  border-color: transparent transparent transparent #656479;
  position: absolute;
}



.nose {
  width: 153px;
  height: 153px;
  background-color: #B9B8CC;
  position: absolute;
  left: 50.1%;
  top: 44.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}



.nose:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: -20%;
  left: -15%;
}


.back-body {
  width: 165px;
  height: 80px;
  background: -webkit-linear-gradient(left, #D5D4E7 0%, #68687D 100%);
  background: linear-gradient(left, #D5D4E7 0%, #68687D 100%);
  position: absolute;
  left: 42.6%;
  top: 60.5%;
  border-radius: 50% / 100%;
  z-index: -100;
}

.back-body:before {
  content: "";
  position: absolute;
  background-color: #D5D4E7;
  width: 60px;
  height: 20px;
  top: 38%;
  left: -28%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.back-body:after {
  content: "";
  position: absolute;
  background-color: #68687D;
  width: 60px;
  height: 20px;
  top: 40%;
  right: -27%;
  -webkit-transform: rotateZ(-12deg);
          transform: rotateZ(-12deg);
}

.window1 {
  border-bottom: 19px solid #202134;
  border-right: 8px solid transparent;
  height: 0;
  width: 23px;
  position: absolute;
  left: 51%;
  top: 21%;
  border-top-left-radius: 3px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 3px;
}

.window2 {
  border-bottom: 19px solid #202134;
  border-right: 8px solid transparent;
  height: 0;
  width: 23px;
  position: absolute;
  left: 47.5%;
  top: 21%;
  border-top-left-radius: 3px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 3px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.window3 {
  border-bottom: 19px solid #202134;
  border-right: 8px solid transparent;
  height: 0;
  width: 12px;
  position: absolute;
  left: 71%;
  top: 22.8%;
  border-top-left-radius: 3px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 5px;
  -webkit-transform: skew(25deg, 15deg);
          transform: skew(25deg, 15deg);
}

.window4 {
  border-bottom: 19px solid #202134;
  border-right: 8px solid transparent;
  height: 0;
  width: 12px;
  position: absolute;
  left: 14%;
  top: 22.8%;
  border-top-left-radius: 3px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 5px;
  -webkit-transform: skew(-25deg, -15deg) rotateY(180deg);
          transform: skew(-25deg, -15deg) rotateY(180deg);
}


.hor-stab {
  border-bottom: 124px solid #B8B7CB;
  border-right: 5px solid transparent;
  height: 0;
  width: 8px;
  position: absolute;
  left: 43.7%;
  bottom: 38%;
  -webkit-transform: rotateZ(-81deg);
          transform: rotateZ(-81deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-top-right-radius: 15px;
  z-index: -100;
}

.hor-stab2 {
  border-bottom: 124px solid #68677D;
  border-right: 5px solid transparent;
  height: 0;
  width: 8px;
  position: absolute;
  left: 55.1%;
  bottom: 42.4%;
  border-top-right-radius: 20px;
  z-index: -100;
  -webkit-transform: rotateY(180deg) rotateZ(-81deg);
          transform: rotateY(180deg) rotateZ(-81deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.wing {
  border-bottom: 467px solid #FDFDFD;
  border-right: 25px solid transparent;
  height: 0;
  width: 8px;
  position: absolute;
  left: 40.5%;
  bottom: 23%;
  z-index: -100;
  -webkit-transform: rotateY(180deg) rotateZ(85deg);
          transform: rotateY(180deg) rotateZ(85deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  
}

.wing:before {
  content: "";
  position: absolute;
  border-bottom: 29px solid #B9B9CE;  
  border-right: 5px solid transparent;
  height: 0;
  width: 5px;
  -webkit-transform: rotateZ(-80deg);
          transform: rotateZ(-80deg);
  border-top-right-radius: 15px;
  top: -12px;
  left: -15px;
}

.wing-bottom {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 500px 20px 0;
  border-color: transparent #D5D4E7 transparent transparent;
  left: 5%;
  bottom: 27.5%;
  z-index: -100;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.wing-right {
  left: 50%;
  bottom: 26.8%;
  -webkit-transform: rotateY(180deg) rotate(6deg);
          transform: rotateY(180deg) rotate(6deg);
  border-color: transparent #68687D transparent transparent;
}

.right {
  left: 53.5%;
  top: -73%;
  -webkit-transform: rotateZ(85deg);
          transform: rotateZ(85deg);
}

.engine {
  width: 98px;
  height: 100px;
  position: absolute;
  background: #908FA4;
  border-radius: 50%;
  bottom: 2%;
  left: 29.8%;
  overflow: hidden;
}

.engine:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #B9B9CE;
  border-radius: 50%;
  bottom: 5%;
}

.fan {
  position: absolute;
  width: 81%;
  height: 80%;
  background: -webkit-radial-gradient(center, cover, #000005 0%, #2B2A43 28%, #000005 85%);
  background: radial-gradient(center, cover, #000005 0%, #2B2A43 28%, #000005 85%);
  border-radius: inherit;
  top: 50%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.front {
  position: absolute;
  width: 26.8%;
  height: 27.9%;
  background-color: #78778C;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow: hidden;
}

.front:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  left: -33%;
  top: -33%;
}

.inner {
  width: 65%;
  height: 65%;
  background: none;
  background-color: #9190a0;
  z-index: -10;
  left: 49%;
}

.eng-small {
  left: 17.2%;
  bottom: 16.8%;
  width: 73px;
  height: 70px;
}

.eng-big2 {
  left: 61.5%;
}

.small2 {
  left: 76.5%;
}


.sky {
  z-index: -100;

  height: 480px;
  background: #007fd5;
  position: relative;
  overflow: hidden;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.moon {
  background: url("http://i.imgur.com/wFXd68N.png");
  position: absolute;
  left: 0;
  height: 300%;
  width: 300%;
  -webkit-animation: moon 50s linear infinite;
  -moz-animation: moon 50s linear infinite;
  -o-animation: moon 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_one {
  background: url("http://www.scri8e.com/stars/PNG_Clouds/zc06.png?filename=./zc06.png&w0=800&h0s=289&imgType=3&h1=50&w1=140");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 50s linear infinite;
  -moz-animation: cloud_one 50s linear infinite;
  -o-animation: cloud_one 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_two {
  background: url("http://freepngimages.com/wp-content/uploads/2016/02/clouds-transparent-background-2.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 75s linear infinite;
  -moz-animation: cloud_two 75s linear infinite;
  -o-animation: cloud_two 75s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_three {
  background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_three 100s linear infinite;
  -moz-animation: cloud_three 100s linear infinite;
  -o-animation: cloud_three 100s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}

@-webkit-keyframes moon {
  0% {
    opacity: 0;
    left: -200% -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1);
    left: 0% bottom: 250px;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    bottom: 500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-webkit-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}

@-moz-keyframes moon {
  0% {
    opacity: 0;
    left: -200% -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1);
    left: 0% bottom: 250px;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    bottom: 500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-moz-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}